name: Tests
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      HYPERSYNC_BEARER_TOKEN: ${{ secrets.HYPERSYNC_BEARER_TOKEN }}
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Run Tests
        run: |
          go test ./... -v
